introduction
    p.
        These are notes for Jennifer Balakrishnan's course MA841 at BU, Fall 2019.

    p.
        The course webpage is #[url(href="http://math.bu.edu/people/jbala/841.html")/].

section#sec-p-adic-rat-pts
    title Rational points on curves

    aside: p Lecture 1 5/9/2019
    p
        |Main Question: How do we determine #[m X(\QQ)] for #[m X] smooth projective of genus #[m \ge 2]?
        | What computational tools are involved?
    p
        | Topics:
        ol
            li: p
                | Chabauty-Coleman method
            li: p
                | Coleman integration (#[m p]-adic integration)
            li: p
                | #[m p]-adic heights
            li: p
                | quadratic Chabauty

    p
        | Evaluation (if you need a grade), TeX 3-4 classes worth of lecture notes.
    p
        | Detailed list of topics:
        ul
            li Chabauty-Coleman
            li Explicit Coleman integration
            li #[m p]-adic cohomology, based point counting (Kedlaya + Tuitman)
            li Iterated Coleman integration
            li Chabauty-Coleman in practice + other tools
            li Étale descent
            li Covering collections
            li Elliptic curve Chabauty
            li #[m p]-adic heights on elliptic curves
            li #[m p]-adic heights on Jacobians on curves
            li Local heights
            li Quadratic Chabauty for integral points on affine hyperelliptic curves
            li Kim's nonabelian Chabauty program
            li Nekovář's p-adic height
            li Quadratic Chabauty for #[m \QQ]-points on curves
            li Quadratic Chabauty in practice

    p
        |References for first two weeks:
        ul
            li
                | McCallum-Poonen
            li Stoll: #[url(href="http://www.mathe2.uni-bayreuth.de/stoll/teaching/ArithHypKurven-SS2014/Skript-ArithHypCurves-pub-screen.pdf") Arithmetic of Hyperelliptic Curves]
            li
                | Kedlaya: #[m p]-adic cohomology from theory to practice (notes from 2007 AWS)
            li Besser: #[url(href="https://www.math.bgu.ac.il/~bessera/Heidelberg-lecture") Heidelberg lectures on Coleman integration]
    p
        | For computations
        ul
            li Sage
            li MAGMA

section#sec-chab-coleman
    title The Chabauty-Coleman method


    subsection#subsec-triangles
        title A question about triangles

        p
            | Does there exist a rational right triangle and  a rational isosceles triangle with with same perimeter and same area?
            | (rational means all side lengths are rational)

        p
            | Suppose there does exist such a pair, then introducing parameters, #[m k,t] for the right triangle, and #[m l,u] for the isosceles we can rescale to
            me k,t,u \in \QQ
            me 0 \lt t, u \lt 1,\, k \gt 0
            | an equate areas and perimeters.
            | Areas:
            me \frac 12(2kt)(k)(1-t^2) = \frac 12(4u)(1-u^2)
            me \implies k^2 t^2(1-t^2) = 2u (1-u^2)
            | . Perimeters:
            me k(1-t^2) + k(1+t^2) + 2kt = 1 + u^2 + 1 + u^2 + 4u
            me \implies k+ kt = 1 + 2u + u^2 = (1+u)^2
            | so letting #[m x=1 +u], after some algebra we have #[m 1 \lt x \lt 2] in #[m \QQ] s.t.
            me 2xk^2 + (-3x^3 -2x^2 + 6x - 4)k + x^5 = 0
            | this is a quadratic in #[m k], and the discriminant is a square in #[m \QQ].
            |so
            me X\colon  y^2 = (-3x^3 - 2x^2 + 6x - 4)^2 - 4(2x)x^5
            me = x^{6} + 12 x^{5} - 32 x^{4} + 52 x^{2} - 48 x + 16
            | so this is a genus 2 hyperelliptic curve. We need the #[m \QQ]-points of this.
        paragraphs
            title Facts:
            p
                | #[m \Jac(X)]  has Mordell-Weil rank 1.
                | The Chabauty-Coleman bound on the size of #[m X(\QQ)] for this curve gives #[m \#X(\QQ) \le 10].
                | But we find points
                md
                    mrow \left\{ \left(0 : -4 : 1\right), \infty_{\pm} , \left(0 : 4 : 1\right), \left(1 : -1 : 1\right), \left(1 : 1 : 1\right),\left(\frac{12}{11} : -\frac{868}{1331} : 1\right),\right.
                    mrow \left. \left(\frac{12}{11} : \frac{868}{1331} : 1\right), \left(2 : -8 : 1\right), \left(2 : 8 : 1\right)\right\}
                | so this set is #[m X(\QQ)].
        p
            | Back in the original problem we specified #[m x \lt 1 \lt 2], so there is a unique such pair of triangles:
        theorem
            title Hirakawa-Matsumura '18
            statement: p
                | Up to similitude there exists a unique pair of a rational right triangle and a rational isosceles triangle that have the same perimeters and areas.
                | The unique pair consists of a right triangle with sides
                me (377, 135, 352)
                | and the isosceles triangle with sides
                me (366, 366, 132)
                | .
    subsection
        title Why care about #[m X(\QQ)] for #[m X] of genus 2?

        p
            | Curves of genus 0: have no #[m \QQ]-points or infinitely many, they satisfy a local to global principle so there exists an algorithm to determine the #[m \QQ]-points in finite time.

        p
            | Curves of genus 1: If we have 1 smooth rational point then we have an elliptic curve, Mordell's theorem implies that #[m E(\QQ)] is a finitely generated abelian group,
            me E(\QQ) \simeq \ZZ^r \oplus T
            | where the possible torsion parts #[m T] have been determined by Mazur's theorem.
            | To understand #[m T], and the distribution of #[m T] there is work of Harron and Snowden, this often comes down to understanding rational points on #[m X_1(N)].
        p
            | Upshot: to understand #[m E(\QQ)] we want to understand #[m r]:
        p
            | Q1: is there an algorithm to compute #[m  r]?
        p
            | Q2: what values of                   #[m  r] can occur?
        p
            | Q3: what is the distribution of      #[m  r]?
        p
            | A1: #[m n]-descent, the obstacle is #[m \Sha], proving finiteness, it is conjectured that #[m r =  \ord_{s=1}L(E,s)] (BSD).
        p
            | A2: record due to Noam Elkies an example of #[m E] with #[m r \ge 28].
        p
            | A3: minimalist conjecture: 50% of all curves have rank 0, 50% rank 1.

        theorem#thm-bhargava-shankar
            title Bhargava-Shankar
            statement
                p
                    |The average rank is #[m \lt 1].

        p
            | Baur Bektemirov, Barry Mazur, William Stein, and Mark Watkins, Average ranks of elliptic curves: tension between data and conjecture, Bull. Amer. Math. Soc. (N.S.) 44 (2007), no. 2, 233–254. MR 2009e:11107 gave average rank graphs, which kept increasing.
        p
            | Sarnak said there would #[q obviously be a turn around].
        p
            | Jennifer S. Balakrishnan, Wei Ho, Nathan Kaplan, Simon Spicer, William Stein, and James Weigandt, Databases of elliptic curves ordered by height and distributions of Selmer groups and ranks, LMS J. Comput. Math. 19 (2016), supp. A, pp. 351-370. MR 3540965



    subsection
        title Coleman's bound
        aside: p Lecture 2 10/9/2019
        p
            | Goal today: prove Coleman's refinement of Chabauty's theorem.

        theorem
            title Coleman 1985
            statement: p
                | Let #[m X/\QQ] be a curve of genus #[m g \ge 2].
                | Suppose the Mordell-Weil rank of #[m J(\QQ)] is less than #[m g].
                | Then if #[m p \gt 2g] is a good prime for #[m X] we have
                me \#X(\QQ) \le \#X_{\FF_p} (\FF_p) + 2g - 2
                |.

        definition#def-differentials
            title Differentials
            statement
                p
                    | Let #[m X] be a  curve over a field #[m k].
                    | The space of #[term differentials] on #[m X] over #[m k] is a 1-dimensional #[m k(X)]-vector space #[m \Omega ^1_X(k)].
                p
                    | There is a nontrivial #[m k]-linear derivation
                    me \diff \colon  k(X) \to \Omega ^1_X(k)
                    | i.e. #[m \diff] is #[m k]-linear and satisfies the Leibniz rule
                    me \diff(fg) = g \diff f + f \cdot \diff g
                    | for all #[m f,g\in k(X)] and there is some #[m f \in k(X)] s.t. #[m \diff f \ne 0].
                p
                    | A general differential can be written as #[m \omega  = f \diff g] where #[m g\in K(X)] with #[m \diff g \ne 0].
                    | If we fix #[m g] this representation is unique.
                    | If #[m \omega ,\omega ' \in \Omega ^1_X(k)] with #[m \omega ' \ne0] then there's a unique #[m f\in K(X)] s.t. #[m \omega = f\omega '].
                    | We may write #[m \omega /\omega ' = f].

        definition#def-differentials-first-second
            title Differentials of the first second and third kinds
            statement
                p
                    | Let #[m 0\ne \omega  \in \Omega ^1_X(k)] and #[m P\in X(k)].
                    | Let #[m t\in k(X)] be  a uniformizer at #[m P].
                    | Then #[m v_P(\omega ) = v_P(\omega /\diff t)] is the valuation of #[m  \omega ] at #[m P].
                    | This valuation is nonzero for only finitely many points #[m P \in X(\overline k)].
                    | The divisor
                    me \divisor(\omega ) = \sum_{P\in X(\overline k)}v_P(\omega ) P \in \Div_X(k)
                    | is the divisor of #[m \omega].
                p
                    | If #[m v_P(\omega )\ge] then #[m \omega ] is regular at #[m P] and #[m \omega ] is said to be regular if it is regular at all points #[m P\in X(\overline K)].
                p
                    | Also called differentials of the #[term first kind].
                p
                    | A differential of the #[term second kind] has residue zero at all points #[m P\in X(\overline K)].
                p
                    | A differential of the #[term third kind] has at most a simple pole at all points #[m P\in X(\overline K)] (and integer residues there in some references).

        p
            | Since the quotient of any two non-zero differentials is  a function
            me \omega_1 = f_1 \diff g
            me \omega_2 = f_2 \diff g
            | so
            me \frac{\omega _1}{\omega _2}  = \frac{f_1}{f_2}
            | .
            | The difference  of any two divisors of differentials is a principal divisor.
            me \divisor\left(\frac{\omega _1}{\omega _2}\right)  = \divisor \left(\frac{f_1}{f_2}\right)
            me = \divisor \omega _1 - \divisor \omega _2
            |.
        p
            | So the divisors of differentials form one linear equivalence class of divisors, the canonical class.

        paragraphs
            title Recall
            p
                | Let #[m X/k] be a curve and #[m D\in \Div_X(k)]. The Riemann-Roch space of #[m D] is the #[m k]-vector space
                me L(D) = \left\{\phi \in k(X)^\times : \divisor \phi  + D \ge 0\right\} \cup \{0\}
                | where we write #[m D \ge D'] if #[m v_P(D) \ge v_P(D')] for all #[m P].

        theorem
            title Riemann-Roch
            statement
                p
                    | Let #[m X/k] be a curve of genus #[m g] then there is a divisor #[m W \in \Div_X(k)] s.t. for every #[m D\in \Div_X(k)] w we have #[m \dim_k L(D)] is finite and
                    me \dim_k L(D)  = \deg D - g +1 \dim_l L(W -D)
                    | .
                p
                    | In particular, #[m \dim_k L(W) = g], #[m \deg W = 2g-2].
                p
                    | The canonical class is exactly the class of the divisor #[m W] in Riemann-Roch.
                p
                    | The #[m k]-vector space of regular differentials has #[m \dim L(W)  = g], and is denoted as #[m H^0(X, \Omega ^1_X)].
        example
            statement: p
                | Let #[m X\colon  y^2 = f(x)] be a hyperelliptic curve of genus #[m g] over #[m k].
                | Then #[m H^0(X, \Omega ^1_X)] has basis
                me \left\{ \frac{\diff x}{2y}, \ldots, \frac{x^{g-1}\diff x}{2y} \right\}
                | so every regular differential can be written uniquely as
                me \frac{p(x) \diff x}{2y}
                | with a polynomial #[m p] of degree #[m \le g-1].
        p
            | We want to integrate differentials in some #[m p]-adic sense,
            | Q: What does a #[m p]-adic line integral look like?

        theorem
            statement: p
                | Let #[m X/\QQ_p] be a curve with good reduction then there is a #[m p]-adic integral
                me \int_P^Q \omega  \in \overline \QQ_p
                | defined for each pair of points #[m P,Q\in X(\overline \QQ_p)] and regular differential #[m \omega \in H^0(X, \Omega _X^1(\overline \QQ_p))] that satisfies the following properties:
                ol
                    li
                        | The integral is #[m \overline \QQ_p] linear in #[m \omega ]
                    li
                        | If #[m P,Q] both reduce to the same point #[m \bar P \in X_{\FF_p}(\FF_p)] then the integral can be evaluated by writing
                        me \omega  = \omega (t) \diff t
                        | with #[m t] a uniformizer at #[m P] reducing to  a uniformizer at #[m \bar P] and #[m \omega ] a power series.
                        | Then integrating formally  obtaining a power series #[m l] s.t.
                        me \diff l(t) = w(t) \diff t
                        |and #[m l(0) = 0] and finally evaluating
                        me l(t(Q))
                        | which converges.
                        | This implies that #[m \int_P^P \omega  = 0].
                    li
                        me \int_P^Q \omega  + \int_{P'}^{Q'} \omega  =  \int_P^{Q'} \omega   + \int_{P'}^Q \omega 
                        | so it makes sense to define:
                        me \int_D \omega
                        | for
                        me \sum_{j=1}^n Q_j  - P_j \in \Div^0_X(\overline \QQ_p)
                        | as
                        me \int_D \omega  = \sum_{j=1}^n \int_{P_j}^{Q_j} \omega 
                    li
                        | If #[m D] is principal then #[m \int_D \omega  = 0].
                    li
                        | The integral commutes with the action of #[m \absgal{\QQ_p}].
                    li
                        | Fix #[m P_0 \in X(\overline \QQ_p)].
                        | If #[m 0\ne \omega  \in H^0(X, \Omega ^1_X)],
                        | then the set of points #[m P \in X(\overline \QQ_p)] reducing to a fixed point #[m P_0 \in X_{\FF_p}(\overline \FF_p)].
                        | and s.t.
                        me \int_{P_0}^P \omega  = 0
                        | is finite.

        remark
            p
                | The statement that the curve has good reduction is not necessary but simplifies the statement of 2.

        remark
            p
                | This    integral is the Coleman integral #[xref(ref="bib-coleman-torsion")/], other works on #[m p]-adic integration include Berkovich #[xref(ref="bib-berkovich")/].
                | Also there is work of Zarhin, Colmez, Vologodsky, Besser, ...

        remark
            p
                | Theory of Coleman integration of forms the second or third kind developed by Coleman-de Shalit #[xref(ref="bib-coleman-de-shalit")/].
                | (additivity in endpoints, linearity, change of variables, FTC).

        corollary
            statement: p
                | Given the hypotheses of the previous theorem
                me P_0 \in X(\QQ_p)
                | and #[m J] the Jacobian of #[m X] let
                me \iota  \colon X \to J
                | be the embedding
                me P \mapsto [P - P_0]
                | there is a map
                me J(\QQ_p) \times H^0(X, \Omega _X^1) \to \QQ_p
                me (P,\omega ) \mapsto \pair P \omega 
                | that is additive in #[m P] and #[m \QQ_p] linear in #[m \omega ] which is given by
                me \pair{[D]}\omega  = \int_D \omega 
                | in particular for
                me P\in X(\QQ_p)
                | we have
                me \pair{\iota (P)}\omega  = \int_{P_0}^P \omega 
                | .
        remark
            p
                | If #[m P \in J(\QQ_p)] has finite order, then
                me \pair P\omega =0,\,\forall \omega \in H^0(X, \Omega _X^1)
                | to see this, if #[m nP= 0] then
                me \pair P\omega  = \frac1n\pair{nP}\omega  = \frac1n0 = 0
                |.
                | One can show that torsion points are the only points with this property.
                | On the other hand, if #[m \omega ] has the property that  #[m \pair P\omega  = 0] for all #[m P \in J(\QQ_p)] then #[m \omega =0].


        corollary
            statement: p
                | Let #[m X/\QQ] be a curve of genus #[m g] with Mordell-Weil rank less than #[m g]. Then #[m \# X(\QQ)] is finite.
                | Note we don't need #[m g \ge 2], in #[m g=1] this applies to rank 0.
            proof
                p
                    | Pick a prime of good reduction for #[m X] let
                    me  V = \{ \omega  \in H^0(X, \Omega _X^1) : \forall P \in J(\QQ) : \pair P\omega  = 0\}
                    | by additivity in the first argument this condition is equivalent to requiring that #[m \pair{P_j}\omega  = 0] for a basis #[m \{P_j\}_{j=1}^r] of the free part of #[m J(\QQ)] so it leads to at most #[m r] linear constraints, so #[m \dim V \ge g - r \gt 0].
                    |So there is some #[m 0 \ne \omega  \in V] pick #[m P_0 \in X(\QQ)], if #[m X(\QQ) = \emptyset] we are done.
                    | To define #[m \iota \colon X \hookrightarrow J].
                    | Since #[m \iota (P) \in J(\QQ)] for all #[m P\in X(\QQ)] so it follows that #[m \int_{P_0}^P\omega =0] for all #[m P\in X(\QQ)].
                    | By the theorem the number of such #[m P] is finite in each residue disk of #[m X(\QQ)].
                    | Since the number of residue classes is  #[m \# X(\FF_p)] which is finite.
                    | The total number of points in #[m X(\QQ)] is finite also.
                p
                    | To get an actual bound we have to bound the number of zeroes of
                    me \int_{P_0}^z \omega 
                    | as a #[m p]-adic power series.
                    | We can think of #[m X(\QQ_p)] set theoretically as a finite union of residue disks.
                    | Within each residue disk
                    me \int_{P_0}^z \omega 
                    | has finitely many #[m p]-adic zeroes.


        aside: p Lecture 3 10/9/2019
        p
            | We want  to give  a more refined version of this result which uses results about zeroes of #[m p]-adic power series.
        theorem
            statement: p
                | Let
                me 0 \ne l(t) = \sum_{n=0}^\infty a_nt^n\in \QQ_p[[t]]
                | such that #[m a_n \to 0] as #[m n \to \infty ] in the #[m p]-adic topology.
                | Let
                me v_0 = \min\{ v_p(a_n) : n \ge 0 \}
                | and
                me N = \max\{ n \ge 0, v_p (a_n) = v_0\}
                | then there is a constant
                me c \in \QQ_p^\times
                | a monic polynomial
                me q \in \ZZ_p[t]
                | of degree #[m N], a power series
                me h(t) = \sum_{n = 0}^\infty  b_n t^n \in 1+  pt \ZZ_p[[t]]
                | with
                me b_n \to 0 \text{ as } n \to \infty 
                | and
                me l(t) = cq(t)h(t)
                | .
            proof
                p
                    | After rescaling by #[m a_0\inv] can assume #[m v_0 = 0]
                    |and #[m a_N = 1]
                    | so this in particular #[m l(t) \in \ZZ_p\lb \lb t\rb \rb ]
                    | the condition #[m a_n \to 0]
                    | means that the image #[m l_m(t)] of #[m l(t)] in #[m \ZZ/p^m\ZZ[[t]]] is actually a polynomial for all #[m m \ge1].
                p
                    | The idea is to construct inductively constants #[m c_m \in (\ZZ/p^m)^\times], monic polynomials #[m q_m(t) \in (\ZZ/p^m)\lb t\rb ] of degree #[m N] and polynomials #[m h_m(t) \in (\ZZ/p^m)\lb t\rb ] with #[m h_m \equiv 1 \pmod{pt}] satisfying
                    me l_m(t) = c_m q_m(t) h_m(t)
                    |and such that
                    me (c_{m+1}, q_{m+1}, h_{m+1})
                    | reduces #[m \pmod{p^m}] to
                    me (c_{m}, q_{m}, h_{m})
                    | .
                p
                    | Then there is a unique #[m c, q, h] as above such that
                    me (c, q, h)
                    | reduces #[m \pmod{p^m}] to
                    me (c_{m}, q_{m}, h_{m})
                    | for all #[m m].
                p
                    | To start the  induction set #[m c_1 = 1]
                    me q_1 (t) = l_1(t)
                    me h_1(t) = 1
                    | this is possible since #[m l_1(t)] is monic of degree #[m N].
                p
                    | Assume we've constructed #[m c_m,q_m,h_m], let
                    me \tilde c_{m+1}, \tilde q_{m+1}, \tilde h_{m+1}
                    | be arbitrary lifts of #[m c_m,q_m,h_m] to objects  over #[m \ZZ/p^{m+1}] with
                    me \tilde q_{m+1} \text{ monic of degree } N
                    me \tilde h_{m+1}(t) \equiv 1 \pmod{pt}
                    | then
                    me l_{m+1}(t) - \tilde c_{m+1} \tilde q_{m+1} \tilde h_{m+1} = p^m d(t)
                    | with
                    me d(t) \in (\ZZ/p)[t]
                    | then we must have
                    me c_{m+1} = \tilde c_{m+1} + p^m \gamma 
                    me q_{m+1} = \tilde q_{m+1} + p^m k(t)
                    me h_{m+1} = \tilde h_{m+1} + p^m \eta(t)
                    | with #[m \gamma \in \ZZ/p], #[m k\in (\ZZ/p)\lb t\rb ] of degree #[m \lt N]. and #[m \eta \in (\ZZ/p)\lb  t\rb ] with #[m \eta(0) = 0].
                p
                    | For #[m \gamma \in \ZZ /p \ZZ], #[m k(t) \in  (\ZZ /p \ZZ) \lb  t\rb ] of degree less than #[m N], and #[m \eta(t) \in  (\ZZ /p \ZZ) \lb t\rb ] with #[m \eta (0) = 0].
                    | So the relation #[m l_{ m+1} (t) = c_{ m+1} q_{ m+1} (t)h_{m+1 }(t)] is equivalent to #[m d(t) = (\gamma  +  \eta(t)) l_1 (t) + k(t)], and
                    | #[m \gamma , k(t)], and #[m \eta(t)] are uniquely determined through division by #[m l_1 (t)] with remainder #[m d(t)], and this determines #[m c_{m+1} ,\, q_{ m+1} (t)] , and #[m h_{m+1} (t)].

        p
            | Now we apply this to study zeroes of #[m p]-adic power series coming from Coleman integrals.
        lemma
            statement: p
                | Let #[m l(t) \in \QQ_p\lb \lb t\rb \rb ] with formal derivative #[m w(t) \in \ZZ_p\lb \lb t\rb \rb ].
                | Such that the image #[m \bar w (t) \in \FF_p \lb \lb t\rb \rb ] has the form #[m ut^\nu + \cdots] with #[m u \in\FF_p\units].
                | Then #[m l] converges on #[m p \ZZ_p].
                | If #[m p \gt \nu + 2] then
                me \#\{\tau  \in p\ZZ_p : l(t) = 0 \} \le \nu + 1
                | .
            proof
                p
                    | Let
                    me w(t) = w_0 + w_1t + \cdots
                    me l(t) = l_0 + l_1t + \cdots
                    | then
                    me l_{n+1}  = \frac{w_n}{n+1} \in \frac{1}{n+1}\ZZ_p
                    | since #[m v_p(n+1) = O(\log n)] the assumption that
                    me w_n \in \ZZ_p
                    | implies that #[m v_p(l_n) = v_p(w_n/(n+1))\ge - c\log n] for some constant #[m c].
                    | If #[m \tau  \in p \ZZ_p] so #[m v_p(\tau ) \ge 1], then
                    me v_p(l_n\tau ^n) \ge n - c\log n  \to \infty 
                    | as #[m n \to \infty ], hence #[m l(\tau )] converges.
                    | Now consider #[m l(pt) = l_0 + pl_1t + p^2 l_2 t^2 + \cdots].
                    | The claim is that in the notation of the previous theorem we have #[m N \le \nu +1].
                    me v_p(p^{\nu  + 1} l_{\nu +1}) = \nu  + 1 + v_p(l_{\nu +1})
                    me = \nu +1 + v_p\left(\frac{w_\nu }{\nu +1}\right)
                    me = \nu  + 1+  v_p(w_\nu ) - v_p(\nu  + 1) \le \nu  + 1
                    |as by assumption #[m \bar w(t) \in \FF_p\lb \lb t\rb \rb ] has the form #[m ut^\nu +\cdots] so that #[m v_p(w_\nu ) =0].
                p
                    | For #[m n \gt \nu ] we have
                    me v_p(p^{n+1} l_{n+1}) = n+1 + v_p(l_{n+1})
                    me = n + 1+ v_p(w_n) - v_p(n+1)
                    me \ge n+1 - v_p(n+1)
                    | since
                    me v_p(w_n) \ge 0
                    | for #[m n \gt \nu ].
                    | So it suffices to show that
                    me n -  v_p(n+1) \gt \nu 
                    | This is clear for #[m v_p(n+1) = 0].
                    | Otherwise suppose #[m e = v_p(n+1)] then #[m p^e|(n+1)].
                    | So #[m n+1 \ge p^3 \gt \nu + e+ 1], where the second inequality can be shown by induction.
                    | For #[m e = 1] this is our hypothesis that #[m p \gt \nu  + 2], then use #[m p^{e+1}\ge p^e + 1].
                    | The previous corollary now gives the result.

        theorem
            title Coleman '85
            statement: p
                | Let #[m X/\QQ] be a curve of genus #[m g], with Mordell-Weil rank of #[m J] less than #[m g]. Then
                me \#X(\QQ) \le \#X(\FF_p) + 2g - 2
                | .
                | #[xref(ref="bib-coleman-chabauty")/].
            proof
                p
                    | We assume #[m P_0\in X(\QQ)], now arguing as in the proof of today's first corollary there is a non-zero differential #[m \omega  \in H^0(X, \Omega ^1_{X/\QQ_p})] such that
                    me \int_{P_0}^P \omega  = 0
                    | for all #[m P\in X(\QQ)].
                    | Now consider a point #[m \bar Q \in \overline X(\FF_p)] and lift it to #[m Q] in #[m X(\QQ_p)], we can pick a  uniformizer #[m t\in \QQ_p(X)\units] s.t at #[m Q] #[m t] reduces to a uniformizer #[m \bar t \in \FF_p(\overline X)\units ] at #[m \bar Q].
                    | We rescale #[m \omega ] s.t. its reduction #[m \bar \omega ] is defined an non-zero.
                    | Then #[m \bar \omega  \in H^0(X, \Omega ^1_{X/\FF_p})].
                    | Recall that #[m \divisor(\bar \omega)] is effective and has degree #[m 2g-2].
                    | Let #[m \nu (\bar Q)] denote the valuation at #[m \bar Q] of #[m \bar \omega ].
                    | #[m \nu (\bar Q) = \nu _{\bar Q}(\bar \omega )].
                    | We write #[m \omega (t) = w(t) \diff t] with 
                    me w(t) \in \ZZ_p[[t]]
                    | the coefficients are in #[m \ZZ_p] since #[m \bar \omega ] is defined.
                    | Then
                    me \bar \omega  = \bar w(t) \diff \bar t
                    | #[m \bar w(\bar t) = \bar t^{\nu (\bar Q)}(u_0 + u_1 \bar t + \cdots)].
                p
                    me \int_{P_0}^P \omega  =l(t(P))
                    | for #[m P \in X(\QQ_p)] such that #[m \bar p = \bar q] and apply previous lemma.
                    | Now summing over residue disks we get
                    me \#X(\QQ) \le \#\left\{ P\in X(\QQ_p) : \int_{P_0}^P \omega =0\right\}
                    me \le \sum_{\bar Q \in \bar X(\FF_p)} \left(\nu (\bar Q)  + 1\right)
                    me =\sum_{\bar Q \in \bar X(\FF_p)} \nu (\bar Q)  + \sum_{\bar Q \in \bar X(\FF_p)}1
                    me \le \deg(\divisor \omega ) + \# \bar X(\FF_p)
                    me = 2g - 2 + \# \bar X(\FF_p)
                    |.

        remark
            p
                | Stoll (06) showed that we can choose the best #[m \omega ] in each residue disk, can improve the bound, #[m r \lt g] and #[m p \gt 2r + 2] is a good prime then
                me \#X(\QQ) \le \#\overline X(\FF_p) + 2r
                | can also weaken the assumption that
                me p \gt  2r + 2
                | . If #[m p \gt 2] then
                me \# X(\QQ) \le \# \overline X(\FF_p) + 2r + \floor*{\frac{2r}{p-1}}
                | .
                | #[xref(ref="bib-stoll-independence")/].
                | Katz-Rabinoff-Zuerieck-Brown (12) extend Stoll's result tot the case of bad reduction, if #[m p \gt 2g] and #[m \mathcal X] a proper regular model for #[m X] over #[m \ZZ_p] then
                me \#X(\QQ) \le \#\mathcal X_{sm}(\FF_p) + 2r
                | where #[m \overline {\mathcal X}(\FF_p)] is the set of smooth points in the special fiber of minimal proper regular model of #[m X] over #[m \ZZ_p].
                | #[xref(ref="bib-katz-zureick-clifford")/].
        aside: p Lecture 4 17/9/2019

        p
            | A few results applying Chabauty-Coleman to prove uniform bounds:
        theorem
            title Stoll '13
            statement: p
                | If #[m X/\QQ] is hyperelliptic of genus #[m g] with Jacobian of Mordell-Weil rank #[m r \le g -3], then
                me \#X(\QQ) \le 8rg + 33(g-1) + 1
                | #[xref(ref="bib-stoll-uniform")/].

        theorem
            title Katz-Rabinoff-Zuerieck-Brown '19
            statement: p
                | If #[m X/\QQ] curves of genus #[m g] with #[m r\le g-3].
                me \#X(\QQ) \le 84 g^2 - 98 g + 28
                | .
                | Ref KRZB and expository paper.

        p
            | Suppose #[m X/\QQ] is genus 3, hyperelliptic curve of rank 0, Stoll's bound gives #[m \#X(\QQ) \le 67].
            | Is there a curve meeting this bound?
            | Or even #[m \#X(\QQ) =10]?
        p
            | In the LMFDB we find in #[m g=2], #[m r=0] the record seems to be #[m \#X(\QQ) = 8].
            | For #[url(href="http://lmfdb.org/Genus2Curve/Q/1116.a.214272.1")/] we have #[m \#X(\QQ) = 8].
            me J(\QQ) \simeq \ZZ/39
            | with simple Jacobian (first found by Elkies).

        p
            | It is possible to use constructions of Howe, Leprevost, Poonen, Elkies, others to construct Jacobians with even larger torsion (and possibly curves of low rank with many rational points?
            | Earlier we talked about computing annihilating differentials in the Chabauty-Coleman method. Here is a concrete example, to motivate a discussion of explicit Coleman integration.
        example
            statement: p
                | Consider
                me X\colon y^2 = x^5 - 4x^3 + 3x + 1
                | #[url(href="http://lmfdb.org/Genus2Curve/Q/3920.b.62720.1")/].
                me J(\QQ) \simeq \ZZ\oplus \ZZ/2
                | .
                me N = 3920 = 2^4 \cdot 5 \cdot 7^2
                | . And
                me X(\QQ) \supseteq\{\infty , (0,\pm1), (1,\pm1), (-1,\pm 1)\}
                me \#X_{\FF_{11}}(\FF_{11}) = 13
                me \#X_{\FF_{13}}(\FF_{13}) = 14
                | so the Chabauty-Coleman bound by itself does not prove that we found all the #[m \QQ]-points already.
                | The point
                me \lb (1,1) - \infty \rb 
                | is of infinite order in #[m J(\QQ)].
                | We use it to construct an annihilating differential.
                | Let #[m p = 11]. Then a basis of #[m H^0(X,\Omega ^1)] is given by
                me \left\{ \omega _i = \frac{x^i \diff x}{2y}\right\}_{i=0,1}
                | so the annihilating differential #[m \eta] is some  #[m \QQ_p]-linear combination of #[m \omega _0,\omega _1].
                | We use the values of
                me \int_\infty ^{(1,1)} \omega _0,\, \int_\infty ^{(1,1)} \omega _1
                | to compute #[m \eta].
                | We find
                me \int_\infty ^{(1,1)} \omega _0 = 8\cdot 11 + 7 \cdot 11^2 + 7\cdot 11^3 + 4\cdot 11^7 + 9\cdot 11^8 + O(11^9)   = \alpha 
                me \int_\infty ^{(1,1)} \omega _1 = 3\cdot 11 + 2\cdot 11^2 + 4\cdot 11^3 +  3  \cdot 11^4 + 6\cdot 11^5 + 6\cdot 11^6 + 8\cdot 11^7 + 3\cdot 11^8 + O(11^9)   = \beta 
                | .
                | Then
                me \int_{\infty }^{(1,1)} \beta  \omega _0 - \alpha \omega _1 =  0
                | so take
                me \eta                  =\beta  \omega _0 - \alpha \omega _1
                | .
                | To use #[m \eta] to compute #[m X(\QQ)] or more precisely, a finite subset of #[m X(\QQ_p)] containing #[m X(\QQ)] we need to compute the collection of indefinite Coleman integrals
                me \left\{\int_\infty ^{P_t} \eta\right\}
                | where #[m P_t] ranges over all residue disks.
                | And solve for #[m z\in X(\QQ_p)] such that
                me \int_\infty ^z \eta = 0
                | .
                | So to compute #[m \alpha ,\beta ] and the functions we needed Coleman integrals between points not in the same residue disk.

        p
            | Goal: show how to compute these #[m p]-adic integrals.

        p
            | Let #[m X/\QQ] be a curve.
            | Let #[m X^{an}] be the associated rigid analytic space.
            | (Let #[m \mathcal X] be a smooth curve over #[m \ZZ_p] s.t.
            me \mathcal X \otimes \QQ_p \simeq X\otimes \QQ_p
            | , then #[m X^{an}] denotes the rigid analytic space over #[m \QQ_p] which is the generic fibre of #[m \mathcal X].)

        definition
            statement: p
                | A wide open subspace of #[m X^{an}] is the complement in #[m X^{an}] of the union of a finite collection of disjoint closed disks of radius #[m \lambda _i \lt 1].
        example
            statement: p
                | Let
                me X\colon  y^2 = \prod_{i=1}^5 (x-\alpha _i)
                | take out closed disks of radius #[m \lambda _i] for each #[m P_i = (\alpha _i ,0)] and #[m \infty ].

        theorem
            title Coleman, Coleman-de Shalit
            statement
                p
                    | Let #[m \eta, \xi] be 1-forms on a wide open #[m V] of #[m X^{an}] and #[m P,Q,R \in V(\QQ_p)].
                    | Let #[m a,b\in \QQ_p].
                    | The definite Coleman integral has the following properties
                    ol
                        li
                            | Linearity
                            me \int_{P}^Q \alpha  \eta + b \xi = \alpha \int_P^Q \eta + b \int_P^Q \xi
                        li
                            | Additivity in endpoints
                            me \int_P^Q \eta = \int_P^R \eta + \int_R^Q \eta
                        li
                            | Change of variables, if #[m V' \subseteq X'] is a wide open subspace of a rigid analytic space #[m X'] and #[m \phi  \colon V \to V'] is a rigid analytic map then
                            me \int_P^Q \phi ^* \eta = \int_{\phi P}^{\phi Q} \eta
                            | .
                        li
                            | Fundamental theorem of calculus
                            me \int_P^Q \diff f = f(Q) - f(P)
                            | for #[m f] a rigid analytic function on #[m V].


        p
            | Goal: want to integrate
            me \int_P^Q \omega 
            | for a 1-form of the second kind, #[m P,Q \in V(\QQ_p)].
            |Idea
            ol
                li
                    | Take #[m \phi ] to be a lift of frobenius from the special fibre.
                li
                    | Write a basis #[m \{\omega _i\}] of 1-forms of the second kind.
                li
                    | Compute #[m \phi ^*\omega _i] and use properties of Coleman integral to relate #[m \int_P^Q \phi ^*\omega _i] to #[m \int_P^Q \omega _i] and other terms we can compute.

        p
            | #[xref(ref="bib-kedlaya-counting")/], #[xref(ref="bib-edixhoven-after")/], also Stephanie Chan MMath thesis (is this online?)

        p
            | Setup #[m p\ne 2] prime
            me \overline X/\FF_q,\,q=p^n
            | hyperelliptic of genus #[m g] with affine equation
            me y^2 = P(x)
            | with #[m P(x)] monic degree #[m 2g+1], with no repeated roots.
            me X \colon \overline X \smallsetminus \{ \infty , y=0\}
            | .
            | #[m W] ring of Witt vectors over #[m \FF_q], (the unique unramified extension of #[m \ZZ_p] with residue field #[m \FF_q].
        p
            | Choose a lift #[m \tilde P] of #[m P], to a monic polynomial of degree #[m 2g+1].
            | Over #[m W] this gives a  lift #[m \widetilde X] of #[m X].
            | Let #[m A = W\lb  x,y,y\inv\rb /(y^2 - \tilde P(x))]
            | Let #[m A^\dagger] be the weak completion of #[m A], explicitly let #[m v_p] denote the #[m p]-adic valuation on #[m W] extend it to polynomials.
            | If #[m g(x) = \sum a_i x^i], define #[m v_p(g) = \min\{v_p(a_i)\}].
            | The elements of #[m A^\dagger] are series
            me \sum_{-\infty }^\infty  ( S_n(x) + T_n(x)y)y^{2n}
            | where #[m S_n] and #[m T_n] are polynomials of degree at most #[m 2g] s.t. limits are positive.


        aside: p Lecture 5 19/9/2019

        p
            | References for Rigid Geometry:
            | #[xref(ref="bib-fresnel-van-der-put")/] #[xref(ref="bib-bgr")/].

        p
            | #[m \overline X/\FF_q] a hyperelliptic curve of genus #[m g], with odd degree model and monic, no repeated roots.
            me X\colon  \overline X \smallsetminus \{\infty , y= 0\}
            me \widetilde X
            | is a lift of #[m X] to #[m \ZZ_q] the ring of Witt vectors over #[m \FF_q].
        p
            me y^2  =  \tilde P(x)
            | .
        p
            me A \colon  \ZZ_q [x,y,y\inv]/(\tilde y^2 -\tilde P(x))
            | #[m A^\dagger] the weak completion of #[m A], this is
            me \left\{\sum_{-\infty }^\infty  s_n(x) y^n : s_n \in \ZZ_q[x],\,\deg s_n\le 2g,\, \ord_p(s_n) \gt c^n\text{ for some }c> 0\right\}
            |.

        p
            | Monsky-Washnitzer cohomology is a #[m p]-adic cohomology theory for smooth affine varieties, over fields of characteristic #[m p].

        theorem
            title Special case, Berthelot, 1974, 1997)
            statement: p
                | The algebraic de Rham cohomology of #[m \widetilde X] coincides with the Monsky-Washnitzer cohomology of #[m X].

        p
            | Monsky-Washnitzer cohomology is finite dimensional and is equipped with an action of Frobenius. So the theorem tells us that we can compute via a description of de Rham cohomology.
        proposition
            statement: p
                | The de Rham cohomology of #[m A] splits into eigenspaces under the hyperelliptic involution: a positive eigenspace generated by
                me \frac{x^i \diff x}{y^2},\,i=0,\ldots, 2g
                | and a negative eigenspace generated by
                me \frac{x^i \diff x}{y},\,i=0,\ldots, 2g-1
                |.

        p
            | We lift #[m p]-power frobenius to an endomorphism of #[m A^\dagger] by defining it as the canonical Witt vector frobenius on #[m \ZZ_q].
            me (a_0,a_1,\ldots)\mapsto (a_0^p, a_1^p,\ldots)
            | for #[m a_i\in \FF_q], then extend it to #[m \ZZ_q\lb x\rb ] by mapping #[m x\mapsto x^p].
            | Then since #[m y^2 = \tilde P(x)], we have
            me (y^\sigma )^2 = (y^2)^\sigma =(\tilde P(x))^\sigma 
            me = (\tilde P(x))^\sigma  \left(\frac{y^2}{\tilde P(x)}\right)^p = \frac{y^{2p} \tilde P(x)^\sigma }{\tilde P(x)^p}
            me y \mapsto y^p \left( \frac{\tilde P(x)^\sigma}{\tilde P(x)^p}\right)^{\frac 12}
            me    =      y^p \left(1 +  \frac{\tilde P(x)^\sigma - \tilde P(x)^p}{\tilde P(x)^p}\right)^{\frac 12}
            me    =      y^p \sum_{i=0}^\infty \binom{1/2}{i} \left(\frac{\tilde P(x)^\sigma - \tilde P(x)^p}{y^{2p}}\right)^i

        remark
            p
                | Here is why we removed the Weierstrass points (we don't want to divide by #[m y] and have things diverge).
                | Its possible to compute a Frobenius lift without deleting Weierstrass points, but then we need to solve for images of #[m x,y] using a 2 variable newton iteration.

        p
            | Further extend to differentials by sending
            me \diff x\mapsto \diff(x^p) = px^{p-1} \diff x
            | define #[m F_\ast = \sigma ^{\log_pq}] this is a lift of #[m q]-power frobenius.

        p
            | Key reduction lemmas, (to prove prop on eigenspaces).
        lemma
            statement: p
                | If #[m A(x) = \tilde P(x) B(x) + \tilde P'C(x)] then
                me \frac{A(x)\diff x}{y^2} = \left(B(x) + \frac{2C'(x)}{s-2}\right) \frac{\diff x}{y^{s-2}}
                | as elements of #[m H^1_{MW}(X)].

        p
            | We also  have
            me \diff(x^iy^j) = ix^{i-1}\diff x y^j  + x^i j y^{j-1} \diff y
            | , use #[m y^2 = \tilde P(x)] which implies
            me \diff(y^2 = \tilde P(x))= 2y \diff y = \tilde P'(x) \diff x
            me \implies \diff y = \frac{\tilde P'(x) \diff x}{2y}
            | giving
            me \diff(x^iy^j) = ix^{i-1}y^j\diff x   + x^i j y^{j-1} \frac{\tilde P'(x) \diff x}{2y}
            | .
        p
            | A special case of this: let #[m Q(x)  = x^{m-2g}] then
            me \diff(Q(x) y) = (Q(x) \tilde P'(x) + 2Q'(x) \tilde P(x)) \frac{\diff x}{y} \equiv  0 \text{ in }H^1_{MW} (X)
            | .

        p
            | Goal for Coleman integration: We compute
            me \left(\frac{x^i \diff x}{y}\right)^\sigma 
            | reduce using the above reductions to get a cohomologous differential that's a linear combination of the basis
            me \left\{ \frac{x^i \diff x}{y}\right\}_{i=0,\ldots, 2g-1}
            | .
        p
            | What does this look like?
            ol
                li
                    | The reduction process is essentially  subtracting the right linear combinations of #[m \diff(x^i y^j)] and using #[m y^2 = \tilde P(x)].
                li
                    | Precision is lost when we divide by #[m p] in the reduction algorithm, so we'll need to measure the loss of precision at each step to know how many provably correct #[m p]-adic digits we have.

        p
            | We compute
            me \left(\frac{x^i \diff x}{y}\right)^\sigma  = \frac{px^{pi + p - 1} \diff x }{y^p} \sum_{i=0}^L \binom{-1/2} i  \frac{(\tilde P(x) ^\sigma  - \tilde P(x)^p)^i}{y^{2pi}}
            | we need to know how large #[m L] must be to get provably correct expansions.

        p
            | If the result of this is
            me \sum_{j = - M}^N \frac{A_j(x) \diff x}{y^{2j+1}}
            | using the reduction formulas to eliminate the #[m j=N] term then the #[m N-1] term until no terms with #[m j \gt  0] remain.
            | Do likewise with the #[m j = -M, -M+1,\ldots] terms.

        p
            | At the end of the reduction algorithm we are left with
            me \left(\frac{x^i \diff x}{y}\right)^\sigma  = \diff f_i +  \sum_{j=0}^{2g-1} M_{ji} \frac{x^j \diff x}{y}
            | the #[m \diff f_i] is whats eliminated by the reduction algorithm, we sum the #[m \diff]'s at each step.

        p
            | Do this for each #[m i = 0, \ldots, 2g  -1].
            | Then #[m M = (M_{ij})] gives the matrix of Frobenius.
            | Its characteristic polynomial gives you the numerator of the zeta function of #[m X].
        p
            | Lemmas on precision:

        lemma
            statement: p
                | Let #[m A(x) \in \ZZ_q\lb  x\rb ] be a polynomial of degree #[m \le 2g].
                | For some #[m m \gt 0] consider the reduction of
                me \omega = \frac{A(x)\diff x}{y^{2m + 1}}
                | by Reduction 1
                me \omega = \frac{A(x)\diff x}{y^{2m + 1}} = \frac{B(x)\diff x}{y} + \diff f
                | with #[m B(x)\in \QQ_q\lb x\rb ] with #[m \deg B(x)\le 2g-1].
                | We have
                me p^{\floor*{\log_p(2m-1)}} B(x)\in \ZZ_q\lb x\rb 
                | .
                me f = \sum_{k = -1}^{m-1} \frac{F_k (x)}{y^{2k+1}},\,\deg F_k  \le 2g
                |.
        lemma
            statement: p
                | Let #[m A(x) \in \ZZ_q\lb  x\rb ] be a polynomial of degree #[m \le 2g].
                | For some #[m m \gt 0] consider the reduction of
                me \omega = \frac{A(x)y^{2m}\diff x}{y}
                | by Reduction 2
                me \omega = \frac{A(x)y^{2m}\diff x}{y} = \frac{B(x)\diff x}{y} + \diff f
                | with #[m B(x)\in \QQ_q\lb x\rb ] with #[m \deg B(x)\le 2g-1],
                me f = cy^{2m+1} + \sum_{k=0}^{m-1} F_k(x) y^{2k+1}
                | #[m c \in \QQ_q], #[m \deg  F_k \le 2g], #[m p^{\floor*{\log_p(2g+1)(2m+1)}} B(x)\in \ZZ_q\lb x\rb ]
                | .

        proposition
            statement: p
                | To get #[m N] correct digits in the expansion after reduction we need to start with precision
                me N_1 = N + \max \left\{   \floor*{ \log_p(2M -3)},\floor*{ \log_p(2g+1)}\right\} + 1 + \floor*{\log_p(2g-1)}
                | , where #[m M] is the smallest integer s.t.
                me M - \max\left\{ \floor*{\log_p(2M+1)},\floor*{\log_p(2g+1}) \right\}
                | .


        example
            statement: p
                | Let
                me y^2 = \tilde P(x) = x^3 + x+ 1/\QQ
                | let #[m p = 5] (or take this over #[m \FF_5] and lift to #[m \ZZ_5]).
                | Let #[m N = 2] be the number of correct 5-adic digits, so #[m M =3], so #[m N_1 = 3], use the differentials #[m \frac{\diff x}{y},\frac{x\diff x}{y}]
                me \left(\frac{\diff x}{y}\right)^\sigma = \left( \frac{25 x + 50}{y^{15}} + \frac{75 x^2 + 100x + 25 }{y^{13}} + \frac {50x^2 + 50x+100}{y^{11}} + \frac{75 x + 50}{y^9} + \frac{ 50x^2 + 50x }{y^7 } + \frac{70x^2 + 70 x +  25}{y^5} + \frac{5x}{y^3} \right)\diff x \pmod {5^3}
                | similar for 
                me \left(\frac{x\diff x}{y}\right)^\sigma = \left( \frac{100x^2 + 100x + 75}{y^{15}} + \cdots \right)\diff x \pmod {5^3}
                | let #[m F_k] be the polynomial in the term
                me \frac{F_k\diff x}{y^{2k +1}}
                | starting from #[m k = 7], set #[m s_k(x) = F_k(x)], compute a series of polynomials inductively for #[m k-1,k-2, \ldots, 0].
                | Given #[m S_{k+1}] find polynomials #[m A_{k+1}, B_{k+1}] s.t.
                me A_{k+1}\tilde P + B_{k+1} \tilde P ' = s_{k+1}
                | then set #[m s_k(x) = F_k(x)  + A_{k+1}(x) + \frac{2B'_{k+1}(x)}{2k+1}]
                me \left(\frac{\diff x}{y}\right)^\sigma = 15x \frac{\diff x}{y}\pmod {5^2}
                me \left(\frac{x\diff x}{y}\right)^\sigma = (22x+18) \frac{\diff x}{y}\pmod {5^2}
                me M = \begin{pmatrix} 0 \amp 18 \\ 15 \amp 22\end{pmatrix}\pmod{5^2}
                | .
