doctype xml

pretext

    docinfo
        latex-preamble
            package xypic
            package newpxtext
            package newpxmath
            package cancel
            package pgfplots


        include ./macros.pug

        feedback: url https://github.com/alexjbest/p-adic-methods/issues

        initialism PAM

        rename(element="inlineexercise") Exercise

        latex-image-preamble.
            \usepackage{pgfplots}
            \pgfplotsset{compat=newest}

    article#p-adic-methods
        title #[m p]-adic methods for rational points on curves
        subtitle MA841 at BU Fall 2019

        frontmatter
            titlepage
                author: personname Jennifer Balakrishnan

                date: today/

        include ./p-adic-methods.pug
        backmatter
            include ./references.pug
